@model HomeFinances.Models.TrainingSession

@{
    ViewData["Title"] = "Usuń Sesję";
}

<h1>Usuń Sesję</h1>
<h3>Czy na pewno chcesz usunąć tę sesję?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDateTime)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StartDateTime)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndDateTime)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EndDateTime)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div>