@model IEnumerable<HomeFinances.Models.ExerciseType>

@{
    ViewData["Title"] = "Baza Ćwiczeń";
}

<h1 class="title">Baza Ćwiczeń</h1>

@if (User.IsInRole("Administrator"))
{
    <p class="has-text-right">
        <a asp-action="Create" class="button is-link">Dodaj nowe ćwiczenie</a>
    </p>
}

<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button is-small is-warning">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button is-small is-danger">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>